:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
  --tertiary: rgba(49, 52, 61, 1);
  --dark: rgba(28, 29, 33, 1);
  --light: rgba(238, 238, 247, 1);
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: var(--tertiary);
  /* min-height: 1000px; */
}

textarea {
  /* background: transparent; */
  background: var(--light);
  border: none;
  resize: none;
  color: var(--dark);
  border-left: 1px solid var(--dark);
  padding: 10px;
}

.jumbotron {
  text-align: center;
  /* background-color: transparent; */
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 0;
  border-bottom: 10px solid var(--dark);

}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid var(--light);
}

.hour {
  /* background-color: #ffffff; */
  /* border-top-left-radius: 15px;
  border-bottom-left-radius: 15px; */
  background-color: var(--light);
  color: var(--dark);
  border-top: 1px dashed var(--dark);
}

.past {
  /* background-color: #d3d3d3; */
  background-color: var(--tertiary);
  color: var(--primary);
}

.present {
  /* background-color: #ff6961; */
  background-color: var(--primary);
  color: var(--light);
}

.future {
  /* background-color: #77dd77; */
  background-color: var(--secondary);
  /* color: var(--light); */
  color: var(--tertiary);
}

.saveBtn {
  border-left: 1px solid var(--dark);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  /* background-color: #06aed5; */
  background-color: var(--primary);
  color: var(--light);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.notification {
  display: none;
  padding-bottom: 10px;
  color: var(--light);
}

.show {
  display: block;
}